html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Nunito', sans-serif;
    font-size: $font-med;
    color: $lightGray;
    background-color: #E5F7FF;

    &.noscroll {
      overflow: hidden;
    }
  }

  a, a:visited, a:hover{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: $black;
  }

  // Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.blue_button{
  background-color: $white;
  border-radius: 8px;
  border: 2px solid $blue;
  color: $black;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right:12px;
  cursor: pointer; 
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;

  &:hover{
    background-color: $blue;
    color: $white;
  }
}

.white_button{
  background-color: $white;
  border: 2px solid $black;
  box-sizing: border-box;
  border-radius: 8px;
  color: $black;
  padding:8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;

  &:hover{
    background-color: $black;
    color: $white;
  }
}

//Visibility
.hide-for-mobile{
  //hide for tablet and mobile
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop{
  //hide for desktop viewport widths
  @include breakpoint-up(large){
    display: none;
  }
}


