//Colors
$black:#333333;      //titles
$lightGray:#828282;  //text
$blue:#86D7F1;
$yellow:#FDC435; 
$white:#FFFFFF; //bacground


// Font sizes (Based on 16px)
$font-sm: 1.25rem; //20px
$font-med:1.5rem; //24px
$font-lg:2.5rem; //40px
$font-logo:1.75rem;
$font-xlg:3rem; //48px
$font-xxlg:4rem; //64px